{% extends "layout.html" %}
{% block content %}


  <style>
          {

            font-family: 'Montserrat', sans-serif;

          }
  </style>

  </h1>
  <br>
  <style>
      p {
          color: black;

         }
  </style>

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">NEW YORK CITY</h1>

        <!-- Author -->
        <p class="nyc">
          by
        <a href="#">Ana Karina</a>

        </p>


        <hr>

        <!-- Date/Time -->
        <p Posted on August 5, 2020 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/choux1.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
          Choux are pastries that were invented in 1540 supposedly by a head chef to Catherine de Medici after having left Florence. It was first named pâte a patanelli then
          pâte a popelin because it reassembled the shape of a women's breast and finally a chef by the name of Avice called it pâte a choux because
          they looked like little cabagges.

        </p>

        <p> I was living in the Upper West Side at the beginning of this year before most of us were really aware of COVID19. I didn't really know
          the Upper West Side very well so decided to start with it. On my walk back home from the gym it's when i'd be very hungry
          so why not just go straight to the dessert part!
          I stumbled upon this french pastry shop located on Amsterdam Avenue Between 81st &, W 82nd St. I LOOOOVE choux
          and it's actually one of my favorite desserts to bake and to eat which is not always the case for me
          most desserts fall in the latter category.




        </p>


        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/barachoux.jpg" alt="">

        <hr>

<p> What makes a choux delicious?</p>
        <ul>
          <li>Moist in the inside</li>
          <li>Crunchy in the outside</li>
          <li>A craquelin which is the sugary crunchy top it's always a plus or an almond
          paste topping</li>
          <li>Finally, a creamy filling with authentic ingredients
          and flavor of your choice</li>
        </ul>


        <p>Barachou definitely met most of my expectations at least with the four flavors that I tried.
        I tried the pistachio, chocolate hazelnut, raspberry lychee and dulce de leche.</p>
        <p> I first tried the Dulce the Leche one. As a mexican all things related to 'burned milk'  it's something I grew up eating..
          Except in Mexico we use cajeta which is pretty similar. It was almost perfect except for the filling , it had dulce the leche on the outside but vanilla cream/whipped cream in the inside
          which was delicious just would have preferred a creamy dulce the leche filling.
        </p>
        <hr>
        <p class="lead"> Chocolate Hazelnut</p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/hazelnut.jpg" alt="">
        <hr>
        </p>
        <p>Flavor and texture of both the filling and the shell were delicious even if was covered with the chocolate and hazelnut pieces.
          I loved the crunchiness that the hazelnut added and the cream was sublime. I could definitely tell that good quality chocolate was used
          for this filling. If I were to give it a grade I would give it a 9.
        </p>

      </div>
    </div>
  </div>




{% endblock content %}